/****************************
GENERAL
****************************/

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans';
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

#body_wrapper {
    width: 100%;
    padding-top: 55px;
}



/****************************
HEADER
****************************/

header {
    width: 100%;
    height: 90px;
}

#logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 300px;
    padding: 10px 5px;
}

#personal-icon {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Lora';
    font-size: .66em;
    font-weight: normal;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3.4px;
}

h2 {
    line-height: 1.25em;
    font-size: 0.75em;
    margin: -5px 0 5px;
    font-weight: normal;
    width: 260px;
}



/****************************
NAVIGATION
****************************/

#nav_wrapper {
    height: 45px;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 99;
    border-width: 10px 0 0 0;
    border-style: solid;
}

.scroll-lock {
    position: fixed !important;
    top: 0 !important;
}

nav {
    width: 100%;
    text-align: center;
    height: 100%;
}

nav ul {
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px 5px;
    height: 30px;
}

nav a {
    font-weight: 800;
    padding: 10px 5px;
}



/****************************
Footer
****************************/

#page_bottom {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 55px;
    border-style: solid;
}

#footer_wrapper {
    left: 0;
    bottom: 0;
    height:55px;
    position:fixed;
    width:100%;
}

footer {
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    text-align: center;
}

footer p {
    margin: 20px 10px;
}

a.social-link {
    width: 10px !important;
    max-height: 0px !important;
    margin: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border: 5px;
    border-style: solid;
    border-radius: 100%;
}

#copywrite {
    width: 100%;
    text-align: center;
    font-size: .8em;
}



/****************************
PAGE: PORTFOLIO
****************************/

#portfolio {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1200px;
    width: 90%;
}

#gallery {
    height: 100%
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    width: 100%;
    margin: 0;
}

#gallery li a p {
    margin: 0;
    padding: 3% 5% 10% 5%;
    font-size: 0.75em;
}



/****************************
PAGE: ABOUT
****************************/

.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius:  100%;
}

#primary-a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 95%;
    margin-right: 5%;
}

#secondary-a {
    display: block;
    vertical-align: middle;
    width: 95%;
    margin-right: 5%;
}



/****************************
PAGE: CONTACT
****************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margins: 0 0 10px 0;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
    display: inline;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
    display: inline;
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
    display: inline;
}

/****************************
COLORS
****************************/

body {
    background: #fdf6e3;
    color: #657b83;
}

header {
    background: #fdf6e3;
    border-color: #268bd2;
}

#body_wrapper {
    background: #fdf6e3;
}

footer {
    /*background: #eee8d5;*/
    background: rgba(238, 232, 213, 0.9);
    color: #000;
}

/* white logo text */
h1, h2 {
    color: #586e75;
}

/* white nav links */
nav a, nav a:visited {
    color: #586e75;
}

/* dark green selected nav links */
nav a.selected {
    color: #268bd2;
}

#gallery li a p {
    background: #fdf6e3;
    color: #657b83;
}

nav a:hover {
    color: #dc322f;
    -webkit-transition: color 500ms linear;
    -moz-transition: color 500ms linear;
    -o-transition: color 500ms linear;
    -ms-transition: color 500ms linear;
    transition: color 500ms linear;
}

#page_bottom {
    background-color: #073642;
    border-color: #eee8d5;
}

#copywrite {
    color: #eee8d5;
}

.social-icon {
    border-color: rgba(238, 232, 213, 0.9);
}

.social-icon:hover {
    border-color: #dc322f;
    -webkit-transition: border-color 500ms linear;
    -moz-transition: border-color 500ms linear;
    -o-transition: border-color 500ms linear;
    -ms-transition: border-color 500ms linear;
    transition: border-color 500ms linear;
}

#nav_wrapper {
    -webkit-animation: colorchange 10000ms infinite; /* Chrome, Safari, Opera */
    animation: colorchange 10000ms infinite;
    color: rgba(38,139,210, 1);
    background: rgba(238, 232, 213, 1);
}

@-webkit-keyframes colorchange {  /* Chrome, Safari, Opera */
    50% {
        border-color: rgba(42, 161, 152, 1);
    }
}

@keyframes colorchange {  /* Standard syntax */
    50% {
        border-color: rgba(42, 161, 152, 1);
    }
}

.scroll-lock {
    background: rgba(238, 232, 213, 0.9) !important;
}

/*
$base03:    #002b36;  rgb(0,43,54)
$base02:    #073642;  rgb(7,54,66)
$base01:    #586e75;  rgb(88,110,117)
$base00:    #657b83;  rgb(101,123,131)
$base0:     #839496;  rgb(131,148,150)
$base1:     #93a1a1;  rgb(147,161,161)
$base2:     #eee8d5;  rgb(238,232,213)
$base3:     #fdf6e3;  rgb(253,246,227)
$yellow:    #b58900;  rgb(181,137,0)
$orange:    #cb4b16;  rgb(203,75,22)
$red:       #dc322f;  rgb(220,50,47)
$magenta:   #d33682;  rgb(211,54,130)
$violet:    #6c71c4;  rgb(108,113,196)
$blue:      #268bd2;  rgb(38,139,210)
$cyan:      #2aa198;  rgb(42,161,152)
$green:     #859900;  rgb(133,153,0)
*/
