/****************************
GENERAL
****************************/

* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Alegreya Sans';
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 3px;
}

#body_wrapper {
    width: 100%;
    padding-top: 55px;
}



/****************************
HEADER
****************************/

header {
    width: 100%;
    height: 90px;
}

#logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 300px;
    padding: 10px 5px;
}

#personal-icon {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Lora';
    font-size: .66em;
    font-weight: normal;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 3.4px;
}

h2 {
    line-height: 1.25em;
    font-size: 0.75em;
    margin: -5px 0 5px;
    font-weight: normal;
    width: 260px;
}



/****************************
NAVIGATION
****************************/

#nav_wrapper {
    height: 45px;
    width: 100%;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 99;
    border-width: 10px 0 0 0;
    border-style: solid;
}

.scroll-lock {
    position: fixed !important;
    top: 0 !important;
}

nav {
    width: 100%;
    text-align: center;
    height: 100%;
}

nav ul {
    padding: 10px 0px;
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    padding: 10px 5px;
    height: 30px;
}

nav a {
    font-weight: 800;
    padding: 10px 5px;
}



/****************************
Footer
****************************/

#page_bottom {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 55px;
    border-style: solid;
}

#footer_wrapper {
    left: 0;
    bottom: 0;
    height:55px;
    position:fixed;
    width:100%;
}

footer {
    width: 100%;
    height: 100%;
    font-size: 0.75em;
    text-align: center;
}

footer p {
    margin: 20px 10px;
}

a.social-link {
    width: 10px !important;
    max-height: 0px !important;
    margin: 10px;
}

.social-icon {
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border: 5px;
    border-style: solid;
    border-radius: 100%;
}

#copywrite {
    width: 100%;
    text-align: center;
    font-size: .8em;
}



/****************************
PAGE: PORTFOLIO
****************************/

#portfolio {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
}

#gallery {
    height: 100%
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    width: 100%;
    margin: 0;
}

#gallery li p {
    margin: 2% 0 5% 0;
    padding: 3% 5% 5% 5%;
    font-size: 0.75em;
}



/****************************
PAGE: ABOUT
****************************/

#about {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
}

.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    margin: 0 auto 30px;
    border-radius:  100%;
}

#primary-a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 95%;
    margin-right: 5%;
}

#secondary-a {
    display: block;
    vertical-align: middle;
    width: 95%;
    margin-right: 5%;
}



/****************************
PAGE: RESUME
****************************/

#resume {
    height: 100%;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 8.5in;
}

#title {
    text-align: center;
}

.resumetext h3 {
    text-align: center;
    word-spacing: .25em;
    line-height: 2em;
    text-transform: uppercase;
}

.fulltext {
    text-align: justify;
}

.resumetext ul {
    display: table;
    margin: 0 auto;
}

#pagebuttons {
    position: fixed;
    right: 10px;
    top: 50%;
}

.pagebutton {
    display: block;
    margin: 10px;
}



/****************************
PAGE: CONTACT
****************************/

#contact {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    width: 90%;
    max-width: 1200px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margins: 0 0 10px 0;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
    display: inline;
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
    display: inline;
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
    display: inline;
}
