@media screen and (min-width: 480px) {


    /****************************
    GENERAL
    ****************************/

    header {
        height: 100px;
    }

    h1 {
        font-size: .8em;
        letter-spacing: 2.3px;
        word-spacing: 4.2px;
    }

    h2 {
        font-size: 0.875em;
        margin-bottom: 10px;
    }

    #logo {
        width: 360px;
        padding: 10px 5px 10px 5px;
    }

    #nav_wrapper {
        top: 100px;
    }


    /****************************
    PAGE: RESUME
    ****************************/

    #resume {
        margin: 30px auto;
    }

    #resume p {
        font-size: .7em;
    }

    #titlelist {
        width: 130px;
    }


    /****************************
    PAGE: CONTACT
    ****************************/

    #contact {
        clear: both;
    }

    #primary-c {
        width: 45%;
        float: left;
        margin-right: 10%;
    }

    #secondary-c {
        width: 30%;
        float: right;
    }


    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 40px;
        border-style: solid;
    }
}



/***************************************
    SIZE BREAK HERE
***************************************/
@media screen and (min-width: 660px) {


    /****************************
    GENERAL
    ****************************/

    header {
        height: 140px;
    }

    h1 {
        font-size: 1.1em;
        letter-spacing: 3.2px;
        word-spacing: 5.5px;
    }

    h2 {
        font-size: 1em;
        margin-bottom: 15px;
    }

    #logo {
        width: 495px;
        padding: 20px 5px 20px 5px;
    }

    #nav_wrapper {
        top: 140px;
    }

    nav {
        font-size: 1.5em;
    }


    /****************************
    PAGE: PORTFOLIO
    ****************************/

    #gallery li {
        float: left;
        width: 44%;
        margin: 3%;
    }

    #gallery li p {
        height: 50px;
    }


    /****************************
    PAGE: ABOUT
    ****************************/

    #primary-a {
        width: 35%;
        margin: 15px 0 15px 3%;
    }

    #secondary-a {
        width: 52%;
        margin: 15px 5%;
    }


    /****************************
    PAGE: RESUME
    ****************************/

    #resume p {
        font-size: .85em;
    }

    #resume ul {
        line-height: .9em;
    }

    #titlelist {
        width: 160px;
    }


    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 45px;
        border-style: solid;
    }

    .social-icon {
        width: 25px;
        height: 25px;
    }

    #footer_wrapper {
        height: 45px;
    }
}



/***************************************
    SIZE BREAK HERE
***************************************/
@media screen and (min-width: 1000px) {


    /****************************
    GENERAL
    ****************************/

    header {
        height: 200px;
    }

    h1 {
        font-size: 1.75em;
        letter-spacing: 4px;
        word-spacing: 8.5px;
    }

    h2 {
        font-size: 1.125em;
        margin-bottom: 20px;
    }

    #logo {
        width: 750px;
        padding: 20px 5px 20px 5px;
    }

    #nav_wrapper {
        height: 50px;
        top: 200px;
    }


    /****************************
    PAGE: PORTFOLIO
    ****************************/

    #gallery li {
        float: left;
        width: 30%;
        margin: 1.66%;
    }

    #gallery li p {
        height: 50px;
    }


    /****************************
    PAGE: ABOUT
    ****************************/

    .profile-photo {
        max-width: 250px;
    }

    #primary-a {
        width: 35%;
        margin: 15px 0 15px 3%;
    }

    #secondary-a {
        width: 52%;
        margin: 15px 5%;
    }


    /****************************
    PAGE: RESUME
    ****************************/

    #resume {
        min-height: 11in;
    }

    #resume p {
        font-size: 1.15em;
        line-height: 1.3em;
    }

    #titlelist {
        width: 220px;
    }


    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 50px;
        border-style: solid;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    #footer_wrapper {
        height: 50px;
    }
}
