@media screen and (min-width: 480px) {
    /****************************
    GENERAL
    ****************************/

    header {
        height: 100px;
    }

    h1 {
        font-size: .8em;
        letter-spacing: 2.3px;
        word-spacing: 4.2px;
    }

    h2 {
        font-size: 0.875em;
        margin-bottom: 10px;
    }

    #logo {
        width: 360px;
        padding: 10px 5px 10px 5px;
    }

    #nav_wrapper {
        top: 100px;
    }



    /****************************
    PAGE: CONTACT
    ****************************/

    #primary-c {
        width: 50%;
        float: left;
        margin-right: 10%;
    }

    #secondary-c {
        width: 40%;
        float: right;
    }



    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 60px;
        border-style: solid;
    }

    .social-icon {
        width: 30px;
        height: 30px;
    }

    #footer_wrapper {
        height: 60px;
    }
}



@media screen and (min-width: 660px) {
    /****************************
    GENERAL
    ****************************/

    header {
        height: 140px;
    }

    h1 {
        font-size: 1.1em;
        letter-spacing: 3.2px;
        word-spacing: 5.5px;
    }

    h2 {
        font-size: 1em;
        margin-bottom: 15px;
    }

    #logo {
        width: 495px;
        padding: 20px 5px 20px 5px;
    }

    #nav_wrapper {
        top: 140px;
    }

    nav {
        font-size: 1.5em;
    }



    /****************************
    PAGE: PORTFOLIO
    ****************************/

    #gallery {
      -webkit-columns: 2 200px;
         -moz-columns: 2 200px;
              columns: 2 200px;
    }



    /****************************
    PAGE: ABOUT
    ****************************/

    #primary-a {
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        float: left;
        margin-right: 15%;
    }

    #secondary-a {
        display: inline-block;
        vertical-align: middle;
        float: right;
        width: 50%;
        margin-right: 5%;
    }



    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 65px;
        border-style: solid;
    }

    .social-icon {
        width: 35px;
        height: 35px;
    }

    #footer_wrapper {
        height: 65px;
    }
}



@media screen and (min-width: 1000px) {
    /****************************
    GENERAL
    ****************************/

    header {
        height: 200px;
    }

    h1 {
        font-size: 1.75em;
        letter-spacing: 4px;
        word-spacing: 8.5px;
    }

    h2 {
        font-size: 1.125em;
        margin-bottom: 20px;
    }

    #logo {
        width: 750px;
        padding: 20px 5px 20px 5px;
    }

    #nav_wrapper {
        height: 50px;
        top: 200px;
    }



    /****************************
    PAGE: PORTFOLIO
    ****************************/

    #gallery {
      -webkit-columns: 3 200px;
         -moz-columns: 3 200px;
              columns: 3 200px;
    }



    /****************************
    FOOTER
    ****************************/

    #page_bottom {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 70px;
        border-style: solid;
    }

    .social-icon {
        width: 40px;
        height: 40px;
    }

    #footer_wrapper {
        height: 70px;
    }
}
